body {

    /* background: radial-gradient(green, black); */
  
    font-family: monospace;
  
    text-align: center;
  
    font-size: 1.5rem;
  
    position: relative;
  
  }
  
  
  
  h1 {
    color: lime;
    font-family: cursive;
    text-align: center;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }